<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>filmmaker</title>
</head>
<body>
    <div>
        <form method="post" action="." novalidate enctype="multipart/form-data">

{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}


    <div class="container">
     <h2> FileMaker | Add Data  </h2>
        <div class="row">
        <div class="col-md-6">


        <form method="post" action="" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button>Submit</button>
        </form>
        </div>
        </div>
        
    </div>
{% endblock content %}